:root {
    --border-radius: 6px;
    --color-primary: rgb(39, 164, 254);
    --color-background: var(--color-primary);
    --color-background-active: rgb(39, 148, 235);
    --color-border: rgb(22, 110, 170);
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.react-sanfona {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 70px;
}

.react-sanfona-item-title {
    background-color: #fafafa;
    border-top: 1px solid #ccc;
    color: #333;
    padding: 20px;
    text-transform: uppercase;
    transition: background-color .3s;
}

.react-sanfona-item:first-child .react-sanfona-item-title {
    border-top: none;
}

.react-sanfona-item-expanded .react-sanfona-item-title {
    background-color: var(--color-primary);
    color: #fff;
}

.react-sanfona-item-body-wrapper {
    color: #666;
    padding: 20px;
    position: relative;
}

#add_task_btn {
    width: 180px;
    float: right;
    margin-right: 80px;
}






