.signout  {
  color:white;
  cursor:pointer;
  text-decoration: none;
  font-size: 20px;
}


ul {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: left;
  padding: 10px 0;
  margin:0;
  background-color: grey;


}

li {
  display: inline-flex;
  padding:5px;

}

.link{
  color:white;
  cursor:pointer;
  text-decoration: none;
  font-size: 20px;

}
